*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Verdana, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: rgb(243, 243, 243);
  color: black;
  min-height: 100vh;
}

button:focus {
  outline: none;
}
